name: "Pull Request Automatic Labeler"

on:
  pull_request_target:
    types: [opened, synchronize, reopened, edited]

# Set default permissions to read-only
permissions: read-all

jobs:
  labeler:
    name: Label Pull Request
    runs-on: ubuntu-latest
    # Only this job needs specific permissions
    permissions:
      contents: read # Required to check out the code
      pull-requests: write # Required to apply labels to PRs
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Apply PR Labels
        uses: actions/labeler@634933edcd8ababfe52f92936142cc22ac488b1b # v6.0.1
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
          sync-labels: true
          configuration-path: .github/labeler.yml
